.popup-wrapper {
    position: relative;
}

.popupdata {
    display: inline-block;
    visibility: hidden;
    width: 540px;
    background-color: #014274;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    bottom: 85%;
    left: 50%;
    margin-left: -270px;
    padding: 20px 30px 20px 30px;
}

.popupdata::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #014274 transparent transparent transparent;
}

.course-data-container {
    display: flex;
    justify-content: space-between;
}

.arrow {
  width: 0;
  height: 0;
  border: solid;
  border-color: black;
  border-width: 7px;
  position: absolute;
  cursor: pointer;
}

.left {
	border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 0;
    left: 1%;
    top: 50%;
}

.right {
	border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-width: 0;
    right: 1%;
    top: 50%;
}



